""" Leader
nnoremap <SPACE> <Nop>
let mapleader = " "

""" Global
set incsearch
set ignorecase
set smartcase
set hlsearch
set scrolloff=5
set clipboard+=unnamedplus
set relativenumber 

""" Plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
set which-key
set notimeout

""" Remaps
" :actionlist

"" Goto/Find
map <Leader>gI <Action>(GotoImplementation)
map <Leader>gd <Action>(GotoDeclaration)
map <Leader>gD <Action>(GotoDeclaration)
map <Leader>gr <Action>(FindUsages)
map <Leader>hi <Action>(ShowHoverInfo)

"" Search 
map <Leader>se <Action>(SearchEverywhere)
map <Leader>sg <Action>(FindInPath)
map <Leader>sn :e ~/.ideavimrc<CR>

"" Refactor
map <Leader>rt <Action>(Refactorings.QuickListPopupAction) 
map <Leader>rr <Action>(RenameElement) 
" Alt + Enter (action list)
map <Leader>al <Action>(ShowIntentionActions) 

"" Find errors
map <Leader>ge <Action>(GotoNextError)
map <Leader>gE <Action>(GotoPreviousError)

"" Debugging
map <Leader>db <Action>(ToggleLineBreakpoint)
map <Leader>si <Action>(StepInto)
map <Leader>so <Action>(StepOver)
map <Leader>dr <Action>(Resume)
map <Leader>ds <Action>(Stop)

"" Test
map <Leader>ur <Action>(RiderUnitTestRunContextAction)
map <Leader>ud <Action>(RiderUnitTestDebugContextAction)

"" Files
map <Leader>cw <Action>(CloseContent)
map <Leader>pt <Action>(PinActiveTab)
map <Leader>nf <Action>(NewElementSamePlace)

